@font-face {
    font-family: 'CoutirierPoster';
    src: url(/font/FontsFree-Net-CouturierPoster2.ttf);
}

:root{
    --white: #f8f9fa;
    --opaque-white: #e9ecef;
    --whity-gray: #dee2e6;
    --light-gray: #adb5bd;
    --gray: #6c757d;
    --heavy-gray: #343a40;
    --black: #212529;
    --cta: #9e9e9e;
    --background: #333;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    font: bold 14px/1.4 'Open Sans', arial, sans-serif;
}

/* HEADER */
.header{
    background-image: url(/media/img/korn-members.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.header__container{
    width: 100%;
    height: 100px;
    padding: 1.375rem;
    display: flex;
    flex-direction: column;
    align-items: center
}

.header__logo{
    width: 500px;
    height: 300px;
    margin: 80px auto 0;
}

.header__logo img{
    width: 100%;
    height: 100%;
    display: block;
}

/* HEADER NAVBAR */
.header__navbar ul{
    list-style-type: none;
    display: flex;
    gap: 30px;
}

.header__navbar li{
    position: relative;
}

.header__navbar a:after{
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    background: var(--white);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.header__navbar a{
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-size: 18px;
    text-decoration: none;
}

.header__navbar a:hover:after{
    width: 100%;
    left: 0;
}

/* FIRST SECTION */
.about{
    height: 500px;
    background-color: var(--black);
    display: flex;
    align-items: center;
}

.about__container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
}

.about__video{
    width: 25rem;
    height: 25rem;
    object-fit: cover;
}

.about__texts{
    font-family: "CouturierPoster", Sans-serif;
    text-transform: uppercase;
    width: 50%;
}

.about__title{
    font-size: 2.25rem;
    font-weight: bolder;
    color: var(--whity-gray);
}

.about__paragraph{
    text-transform: none;
    font-weight: 500;
    color: var(--opaque-white);
    margin: 2.4rem 0;
}

.about__cta__container{
    display: flex;
    gap: 12px;
}

.about__cta{
    color: var(--white);
    font-size: 18px;
    text-decoration: underline;
    background-color: var(--black);
    cursor: pointer;
    transition: .4s ease;
    border: none;
    border-radius: 12px;

    display: flex;
    align-items: center;
    gap: 12px;
}

.about__cta:hover{
    color: var(--black);
    text-decoration: none;
    border-radius: 12px;
    background-color: #1ed760;
    transition: .4s ease-in-out;
    padding: 8px 18px;
}

.about__cta__container img{
    width: 40px;
    height: 40px;
    overflow: hidden;
    flex-shrink: 0;
}

/* SECOND SECTION */
.members{
    background-image: url(/media/img/background-members.jpg);
    height: 700px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-bottom: 150px;
}

.title{
    padding: 50px 0 0;
    font-size: 48px;
    font-weight: 400;
    font-family: Courier, "Courier New", monospace;
    text-transform: uppercase;
    text-align: center;
    color: var(--white);
}

.members__container{
    display: flex;
    height: 530px;
}

.members__container img{
    width: 0;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}

.members__container img:hover{
    cursor: crosshair;
    width: 300px;
    opacity: 1;
}

/* THIRD SECTION */
.discography{
    width: 100%;
    height: auto;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

.discography__container{
    margin: 0 auto 20px;
    padding: 0 10px;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    gap: 22px;
}

.discography__item{
    margin: 25px 0;
} 

.discography__item img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    transition: .4s ease-in;
    border: 2px solid #9E9E9E;

}

.discography__item img:hover{ 
    transition: .6s ease;
    transform: scale(1.12);
    cursor: pointer;
}

.cta{
    margin: 10px auto 40px;
    font-size: 16px;
    padding: 10px 24px;
    background-color: var(--cta);
    color: var(--background);
    text-decoration: none;
    transition: .4s ease;
}

.cta:hover{
    color: var(--white);
    transform: scale(1.1);
    transition: .4s ease-in-out;
}

/* FOURTH SECTION */
.merchandise{
    height: auto;
    padding: 60px 0;
    background-image: url(/media/img/background-mechandise.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.merchandise__picture{
    width: 600px;
    height: 600px;
    margin: 80px 0;
}

.merchandise img{
    width: 100%;
    height: 100%;
    transition: .3s ease;

}

.merchandise img:hover{
    transform: scale(1.1);
    transition: .3s ease-in-out;
}

.lives{
    position: relative;
    height: 600px;
    width: 100%;
}

.lives video{
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.lives__texts{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* FOOTER */
.footer{
    width: 100%;
    height: 200px;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer img{
    flex-shrink: 0;
    width: 80px;
    height: 50px;
}

.footer__copyright{
    color: var(--white);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    font-weight: 100;
}